{
    "parser": "babel-eslint",
    //"extends": ["airbnb"],
    "env": {
        "browser": true
    },
    "rules": {
        "semi": ["error", "never"],
       // "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "import/extensions": [0,"always"],
        "react/prop-types": 0
    }
}